* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat-extrabold';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7em;
    position: sticky;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.115);
}

.content-container-header {
    font-size: 2.5em;
    margin-left: 0.5em;
    display: flex;
    margin-right: 5em;
    font-family: Montserrat-extrabold;
}

.content-container-header img {
    max-width: 40px;
    margin-right: 0.2em;
}
.navigation-container-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.auth-container-header {
    margin-left: 40em;
    display: flex;
    margin-right: 2em;
}

.auth-container-header a {
    color: black;
    margin-right: 1em;
    text-decoration: none;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 7px 15px 7px 15px;
    transition: all 0.4s ease;
}

.navigation-container-header div {
    display: flex;
    align-items: center;
}

.navigation-container-header a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    border-radius: 10em;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none orange;
    transition: all 0.3s ease;
    background-color: white;
}
